
.sidenav_parent{
    height: 100vh;
    width: 18%;
    background-color: #F0F2F6;
    
}
.sidenav__cont{
    padding-top: 20%;
}
.sidenav__listitems li {
    
    height: 4rem;
    width: 100%;
    
    padding: .8rem 0 0 2rem;
    border-bottom: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.sidenav__mainhead{
    padding: 2rem;
}
.sidenav__listitems li:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.sidenav__mainhed{
    display: inline-block;
}
.sidenav_icon{
    margin-right: 1rem;
}
.sidenav__listitems li a {
    color: black;
    font-size: 1.3rem;
    
}